<style>
    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            font-weight: bold;
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    thead > tr > th {
        position: sticky;
        top: 0px;
    }




    .txt_decorate {
        text-transform: uppercase;
    }

    #checkboxesdistrict {
        display: none;
        border: 1px #dadada solid;
    }

        #checkboxesdistrict label {
            display: block;
        }

            #checkboxesdistrict label:hover {
                background-color: #1e90ff;
            }

    #checkboxesmandal label {
        display: block;
    }

        #checkboxesmandal label:hover {
            background-color: #1e90ff;
        }

    #checkboxesmandal {
        display: none;
        border: 1px #dadada solid;
    }



    .contain {
        display: block;
        position: relative;
        padding-left: 35px;
        /* margin-bottom: 12px; */
        /* padding-top: 5px; */
        cursor: pointer;
        margin: 5px !important;
        font-size: 15px !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .contain input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: #eee;
        border: 1px solid #cac6c6;
    }

    /* On mouse-over, add a grey background color */
    .contain:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .contain input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .contain input:checked ~ .checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .contain .checkmark:after {
        left: 8px;
        top: 4px;
        width: 6px;
        height: 12px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .contain {
        font-size: 13px !important;
    }



    .card {
        /* Add shadows to create the "card" effect */

        border: 1px solid #ddd;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        transition: 0.3s;
        padding: 20px;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }
</style>
<div ng-controller="DatesSettingsController">
    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5>Dates Settings</h5>

            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>
    <div class="container">
        <div class="col-md-12">
            <button class="btn  btn-primary back_button" ng-click="GoBack()"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</button>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <form name="dataForm">
                <div class="row">

                    <div class="col-md-4 form-group ">
                        <label>
                            Polycet Year:
                        </label>
                        <select class="form-control" id="State" ng-model="PolycetYearID" ng-change="GetDistricts(PolycetYear)"
                                ng-options="data.PolycetYearID as data.PolycetYear for data in CurrentPolycetYearData">
                            <option value="" selected>Select Polycet Year</option>
                        </select>
                    </div>

                    <div class="col-md-4 form-group">
                        <label class="font-weight-bold">Registration Start Date:</label> <input autocomplete="off" class="form-control" type="date" ng-model="RegistrationStartDate" placeholder="Select Registration Start Date">
                    </div>

                    <div class="col-md-4 form-group">
                        <label class="font-weight-bold">Registration End Date:</label> <input autocomplete="off" class="form-control" type="date" ng-model="RegistrationEndDate" placeholder="Select Registration End Date">
                    </div>

                    <div class="col-md-4 form-group">
                        <label class="font-weight-bold">Application Start Date:</label> <input autocomplete="off" class="form-control" type="date" ng-model="ApplicationStartDate" placeholder="Select Application Start Date">
                    </div>

                    <div class="col-md-4 form-group">
                        <label class="font-weight-bold">Application End Date:</label> <input autocomplete="off" class="form-control" type="date" ng-model="ApplicationEndDate" placeholder="Select Application End Date">
                    </div>



                    <div class="col-md-2">
                        <div class="">
                            <button type="submit" class="btn  btn-primary btn_top_margin  pull-left" ng-click="SaveData()">Submit<span class="fa fa-arrow-up heading_icon btn_icons"></span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="sm-spacer"></div>
        <div class="col-md-12" style="padding:0px!important">
            <div class="cl-details">
                <h5 class="head_css">Dates List</h5>
            </div>
        </div>
        <div class="row">

            <div id="preExamReports" class="table-responsive table-custom-tables-tb col-md-12">
                <table class="table table-bordered  table-striped table-rounded">
                    <thead>
                        <tr class="cb-1">
                            <th class="text-center" style="width: 2%;">S.No</th>
                            <th class="text-center">Polycet Year</th>
                            <th class="text-center">Registration Start Date</th>
                            <th class="text-center">Registration End Date</th>
                            <th class="text-center">Application Start Date</th>
                            <th class="text-center">Application End Date</th>
                            <th class="text-center">Active Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr style="background-color:#fff!important;cursor:pointer" ng-repeat="data in Notifications">

                            <td class="text-center">{{$index + 1}}</td>
                            <td class="text-center">
                                {{data.PolycetYear}}
                            </td>
                            <td class="text-center">
                                {{data.RegistrationStartDate | date:"dd-MMM-yyyy"}}
                            </td>
                            <td class="text-center">{{data.RegistrationEndDate | date:"dd-MMM-yyyy"}}</td>
                            <td class="text-center">{{data.ApplicationStartDate | date:"dd-MMM-yyyy"}}</td>
                            <td class="text-center">{{data.ApplicationEndDate | date:"dd-MMM-yyyy"}}</td>

                            <td class="text-center">
                                <button class="btn btn-success btn-xs" ng-show="data.Active == true">Yes</button>
                                <button class="btn btn-danger btn-xs" ng-show="data.Active == false">No</button>
                            </td>
                            <td class="text-center">
                                <a href="" class="btn btn-info btn-xs" ng-click="Edit(data.PolycetYearID)">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="" class="btn btn-primary btn-xs" ng-click="View(data.PolycetYearID)">
                                    <i class="fa fa-eye" style="font-size:17px"></i>
                                </a>
                                <!--<a href="#" class="btn btn-danger btn-lg">
            <span class="glyphicon glyphicon-trash"></span>
        </a>-->
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-12" ng-if="loading">
                <div class="sm-spacer"></div>
                <div style="width:100%;text-align:center;">
                    <img src="../../../contents/img/loading2.gif" ng-if="loading" width="100" />
                </div>
            </div>
            <div class="col-md-12" ng-if="error">
                <div class="col-md-12 no-results">
                    <h2>No Data</h2>
                    <img src="../../contents/img/Folder-Icon.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="sm-spacer"></div>
    <div class="spacer"></div>
</div>