<style>

    :root {
        --card-line-height: 1.2em;
        --card-padding: 1em;
        --card-radius: 0.5em;
        --color-green: #558309;
        --color-gray: #e2ebf6;
        --color-dark-gray: #c4d1e1;
        --radio-border-width: 2px;
        --radio-size: 1.5em;
    }

    body {
        background-color: #f2f8ff;
        color: #263238;
        font-family: 'Noto Sans', sans-serif;
        margin: 0;
        padding: 2em 6vw;
    }

    .grid {
        display: inline-block;
        grid-gap: var(--card-padding);
        margin: 0 auto;
        max-width: 60em;
        padding: 0;

        @media (min-width: 42em) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .card {
        background-color: #fff;
        border-radius: var(--card-radius);
        position: relative;
        margin: 10px;
        &:hover

    {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }

    }

    .radio {
        font-size: inherit;
        margin: 0;
        position: absolute;
        right: calc(var(--card-padding) + var(--radio-border-width));
        top: calc(var(--card-padding) + var(--radio-border-width));
    }

    @supports(-webkit-appearance: none) or (-moz-appearance: none) {
        .radio {
            -webkit-appearance: none;
            -moz-appearance: none;
            background: #fff;
            border: var(--radio-border-width) solid var(--color-gray);
            border-radius: 50%;
            cursor: pointer;
            height: var(--radio-size);
            outline: none;
            transition: background 0.2s ease-out, border-color 0.2s ease-out;
            width: var(--radio-size);
            &::after

    {
        border: var(--radio-border-width) solid #fff;
        border-top: 0;
        border-left: 0;
        content: '';
        display: block;
        height: 0.75rem;
        left: 25%;
        position: absolute;
        top: 50%;
        transform: rotate(45deg) translate(-50%, -50%);
        width: 0.375rem;
    }

    &:checked {
        background: var(--color-green);
        border-color: var(--color-green);
    }

    }

    .card:hover .radio {
        border-color: var(--color-dark-gray);
    }

    .plan-details {
        border: var(--radio-border-width) solid var(--color-gray);
        border-radius: var(--card-radius);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: var(--card-padding);
        transition: border-color 0.2s ease-out;
    }

    .card:hover .plan-details {
        border-color: var(--color-dark-gray);
    }

    .radio:checked ~ .plan-details {
        /*border-color: var(--color-green);*/
        border: 3px solid #1d912a;
    }

    .radio:focus ~ .plan-details {
        box-shadow: 0 0 0 2px var(--color-dark-gray);
    }

    .radio:disabled ~ .plan-details {
        color: var(--color-dark-gray);
        cursor: default;
    }

        .radio:disabled ~ .plan-details .plan-type {
            color: var(--color-dark-gray);
        }

    .card:hover .radio:disabled ~ .plan-details {
        border-color: var(--color-gray);
        box-shadow: none;
    }

    .card:hover .radio:disabled {
        border-color: var(--color-gray);
    }

    .plan-type {
        color: var(--color-green);
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1em;
    }
    .checkmark {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    .plan-cost {
        font-size: 2.5rem;
        font-weight: bold;
        padding: 0.5rem 0;
    }

    .slash {
        font-weight: normal;
    }

    .plan-cycle {
        font-size: 2rem;
        font-variant: none;
        border-bottom: none;
        cursor: inherit;
        text-decoration: none;
    }

    .hidden-visually {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    .modal-fit .modal-content {
        height: auto !important;
        overflow: unset !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
    }

    .modal-content {
        position: absolute !important;
        height: auto !important;
        overflow: auto !important;
    }


/*------------*/
    input[type=radio]:focus {
        outline: 5px auto #fff!important;
        outline-offset: -2px;
    }
    input[type="radio"] {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        border: 2px solid #ddd;
        background-color: white;
        -webkit-appearance: none; /*to disable the default appearance of radio button*/
        -moz-appearance: none;
    }

        input[type="radio"]:focus { /*no need, if you don't disable default appearance*/
            outline: none; /*to remove the square border on focus*/
        }

        input[type="radio"]:checked { /*no need, if you don't disable default appearance*/
            background-color: #1d912a;
        }

            input[type="radio"]:checked ~ span:first-of-type {
                color: white;
            }

    label span:first-of-type {
        position: relative;
       /* left: -27px;*/
        font-size: 15px;
        color: #1FBED6;
    }

    label span {
        position: relative;
       /* top: -12px;*/
    }
    input[type=radio] {
        margin: 4px 0 0;
        margin-top: 1px\9;
        line-height: normal;
        position: absolute !important;
        top: 0px;
        right: 0px;
        margin: 2px !important;
        border-radius: 51% !important;
        /* height: 12px; */
        padding: 0px 17px !important;
        border: 2px solid #ddd !important;
        outline-offset: -2px
    }
    .img_bill{
        height:60px;
        width:100px;
    }
    i.fa.fa-check.checkmark {
        color: #fff;
        top: 15px;
        font-size: 15px;
        right: 13px;
    }
    .modal-title {
        margin: 0;
        line-height: 1.42857143;
        font-weight: 600;
    }
    input {
        border: 1px solid #e7e7e7;
        border-radius: inherit;
        box-shadow: inherit;
        min-height: auto !important;
    }
    @supports (-webkit-appearance: none) or (-moz-appearance: none) <style> input[type=radio] {
        margin: 4px 0 0;
        margin-top: 1px\9;
        line-height: normal;
        position: absolute !important;
        top: 2px;
        right: 2px;
        margin: 2px !important;
        border-radius: 51% !important;
        /* height: 12px; */
        /* padding: 0px 17px !important; */
        border: 2px solid #ddd !important;
    }
    @supports (-webkit-appearance: none) or (-moz-appearance: none) <style> i.fa.fa-check.checkmark {
        color: #fff;
        top: 14px;
        font-size: 13px;
        right: 12px;
    }
   </style>

<div class="modal-header ">
    <h4 class="modal-title text-center">
        Verify the Payment Details before you Proceed
        <!--<button type="button" class="btn btn-circle btn-close btn-modal-close" ng-click="closeModal()">&times;</button>-->
    </h4>
    <!--<h4 class="modal-title text-center" ng-show="DetailsFound && isBackLog">
        <b>Verify the Backlog Payment Details before you Proceed</b>-->
        <!--<button type="button" class="btn btn-circle btn-close btn-modal-close" ng-click="closeModal()">&times;</button>-->
    <!--</h4>-->
</div>
<div class="row">
    <div class="modal-body">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4"><label for="stdSem">Challan Number</label></div>
                        <div class="col-md-8">: {{challan}}</div>


                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered  table-striped table-rounded">
                        <thead>
                            <tr class="cb-1">
                                <th style="width: 2%;background-color: #0566a8;">S.No</th>
                                <th class="" style="background-color: #0566a8">Student Name</th>
                                <th class="" style="background-color: #0566a8">Phone Number</th>

                                <th class="text-left" style="width: 10%;background-color: #0566a8">Amount (Rs)</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- ngRepeat: x in PaymentStudent -->
                            <tr style="background-color:#fff!important;" ng-repeat="x in StudentVerData" class="ng-scope">
                                <td class="text-left ng-binding">{{$index+1}}</td>
                                <td class="text-left ng-binding">{{x.StudentName}}</td>
                                <td class="text-left ng-binding">{{x.RegistrationMobile}}</td>
                                <td class="text-center ng-binding">{{x.RegistrationAmount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>

            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="grid">
                        <label class="card" style=" width: 180px">
                            <input name="plan" class="radio" ng-value=1 ng-model="mode" ng-click="Mode()" type="radio">
                            <i class="fa fa-check checkmark" aria-hidden="true"></i>
                            <span class="plan-details">
                                <img class="img_bill" src="../../../contents/img/BillDesk_logo.png" />
                            </span>

                            <!--<span class="plan-type">Basic</span>
                <span class="plan-cost">$0<span class="slash">/</span><abbr class="plan-cycle" title="month">mo</abbr></span>
                <span>1 team member</span>
                <span>100 GB/mo</span>
                <span>1 concurrent build</span>-->

                        </label>
                        <label class="card" style="width: 180px">
                            <input name="plan" class="radio" ng-value=2 ng-model="mode" ng-click="Mode()" type="radio">
                            <i class="fa fa-check checkmark" aria-hidden="true"></i>
                            <span class="plan-details">
                                <img class="img_bill" src="../../../contents/img/twalletonly.png" />
                            </span>
                        </label>
                        <!--<label>
                <input type="radio" name="options" />
                <span>A</span><span>Option A</span>
            </label>-->
                        <!--<label class="card">
                <input name="plan" class="radio" type="radio">
                <span class="hidden-visually">Business - $200 per month, 5+ team members, 1000 GB per month, Unlimited builds</span>
                <span class="plan-details" aria-hidden="true">
                    <span class="plan-type">Business</span>
                    <span class="plan-cost">$200<span class="slash">/</span><span class="plan-cycle">mo</span></span>
                    <span>5+ team members</span>
                    <span>1000 GB/mo</span>
                    <span>Unlimited builds</span>
                </span>
            </label>-->
                    </div>
                </div>
            </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h5>Note: Payment gateway transaction charges as below</h5>
                    </div>

                    <div class="col-md-12" ng-show="mode==1">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="cb-1">
                                    <th class="text-center" style="width: 2%;">S.No</th>
                                    <th class="text-center">Mode of Payment</th>
                                    <th class="text-center"> < Rs.2000 </th>
                                    <th class="text-center"> > Rs.2000 </th>
                                    <th class="text-center" style="width: 10%">Recommended</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr style="background-color:#fff!important;">
                                    <td class="text-center">1</td>
                                    <td class="text-center">UPI</td>
                                    <td class="text-center">NIL</td>
                                    <td class="text-center">NIL</td>
                                    <td class="text-center">All</td>
                                </tr>
                                <tr style="background-color:#fff!important;">
                                    <td class="text-center">2</td>
                                    <td class="text-center">Debit Card- Rupay</td>
                                    <td class="text-center">NIL</td>
                                    <td class="text-center">NIL</td>
                                    <td class="text-center">Student Individual Payment</td>
                                </tr>
                                <tr style="background-color:#fff!important;">
                                    <td class="text-center">3</td>
                                    <td class="text-center">Debit Card-Visa/Master</td>
                                    <td class="text-center">1.00%</td>
                                    <td class="text-center">1.24%</td>
                                    <td class="text-center">Student individual payment</td>
                                </tr>
                                <tr style="background-color:#fff!important;">
                                    <td class="text-center">4</td>
                                    <td class="text-center">Net Banking</td>
                                    <td class="text-center">10rs</td>
                                    <td class="text-center">10rs</td>
                                    <td class="text-center">Colleges Group payment</td>
                                </tr>
                                <tr style="background-color:#fff!important;">
                                    <td class="text-center">5</td>
                                    <td class="text-center">Wallets</td>
                                    <td class="text-center">1.24%</td>
                                    <td class="text-center">1.24%</td>
                                    <td class="text-center">Student individual payment</td>
                                </tr>
                                <tr style="background-color:#fff!important;">
                                    <td class="text-center">6</td>
                                    <td class="text-center">Credit Card</td>
                                    <td class="text-center">1.24%</td>
                                    <td class="text-center">1.24%</td>
                                    <td class="text-center">Student individual payment</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12" ng-show="mode==2">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="cb-1">
                                    <th class="text-center" style="width: 2%;">S.No</th>
                                    <th class="text-center">Mode of Payment</th>
                                    <th class="text-center"> < Rs.2000 </th>
                                    <th class="text-center"> > Rs.2000 </th>
                                    <th class="text-center" style="width: 10%">Recommended</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr style="background-color:#fff!important;">
                                    <td class="text-center">1</td>
                                    <td class="text-center">UPI</td>
                                    <td class="text-center">NIL</td>
                                    <td class="text-center">NIL</td>
                                    <td class="text-center">All</td>
                                </tr>
                                <tr style="background-color:#fff!important;">
                                    <td class="text-center">2</td>
                                    <td class="text-center">Debit Card- Rupay</td>
                                    <td class="text-center">NIL</td>
                                    <td class="text-center">NIL</td>
                                    <td class="text-center">Student Individual Payment</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="sm-spacer"></div>
            <div class="col-md-12">
              
                <div class="col-md-12" style="margin-top: 5px;">
                    <span class="PopupCheckbox1">
                        <input type="checkbox" ng-checked="noteChallan" ng-model="noteChallan" ng-change="notedChallan()" /></span>
                        <span class="PopupCheckbox">: I agree that i have noted the challan number</span>
</div>
                <div class="sm-spacer"></div>
            </div>
            <div class="modal-footer">

                <button type="button" ng-if="mode==1" class="btn btn-success pull-right" ng-click="Proceedtopay()" style="margin-top: 20px;" ng-disabled="!noteChallan && !secondClick ">Proceed</button>
                <button type="button" ng-if="mode==2" class="btn btn-success pull-right" ng-click="Pay()" style="margin-top: 20px;" ng-disabled="!noteChallan && !secondClick ">Pay</button>
                <button type="button" class="btn btn-default pull-left" ng-click="closeModal()" style="margin-top: 20px;">Cancel</button>
            </div>

        </div>
</div>
